<div class="container-main">
  <div class="row-one">
    <div class="box-one">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est ratione autem voluptatem quam dolor a temporibus quia dicta? Est quae non minima consectetur, illo corporis animi molestias velit eveniet soluta dignissimos provident dolor ratione possimus error maxime earum nam ipsam.
    </div>
  </div>

<div class="row-one">

  <div class="box-two">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nesciunt quae explicabo veniam accusantium quos praesentium suscipit dolorum nemo dolore delectus, numquam placeat facilis, exercitationem doloremque impedit sit illo. Aliquam.
  </div>
</div>
<div class="row-one">
  <div class="box-three">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eaque aperiam voluptates assumenda ratione nemo! Accusantium sapiente libero, commodi nesciunt in vel deleniti fuga error quam sed quae, maiores laboriosam!
  </div>
</div>
</div>
<hr>
<div class="section-title" data-oas="fade-up">
    <h2>Off Canvas</h2>
</div>
<div class="row">
  <div class="col-3">
<a class="btn btn-primary m-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Off canvas With Ref
</a>
</div>

<div class="col-3">
<button class="btn btn-primary m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  Off Canvas Button with data-bs-target
</button>
</div>
</div>
<hr>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>
<hr>
<ngx-spinner

  type="triangle-skew-spin"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- square-jelly-box,  -->
